@using BookStorage.Settings
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BookStorage.Extensions
@{
    ViewData["Title"] = "New book";
    AppSettings appSettings = Context.GetService<AppSettings>();
}

@section Styles 
{
    <link rel="stylesheet" href="~/css/book.css" />
}

@section Scripts
{
    <script src="~/js/book.js"></script>
    
    @await Html.SetClientSideJavascriptVariableAsync("bookCoverMaxSizeInMb", appSettings.FileValidationSettings.BookCoverImage.MaxAttachmentSizeInMb)
    @await Html.SetClientSideJavascriptVariableAsync("bookFileMaxSizeInMb", appSettings.FileValidationSettings.BookFile.MaxAttachmentSizeInMb)
}

<div class="ui main container">
    <form class="ui large form" id="book-form" onsubmit="return false">
        <div class="ui top attached fitted segment">
            <div class="ui secondary menu">
                <div class="item">
                    <h3 class="ui header">Create new book</h3>
                </div>
                <div class="right item">
                    <div class="ui small secondary submit button"
                         id="create-book-btn">
                        Create
                    </div>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <div class="ui segment">
                <div class="ui grid">
                    <div class="eight wide column">
                        <div class="field">
                            <label>Book title</label>
                            <div class="ui left icon input">
                                <i class="book icon"></i>
                                <input type="text" name="title" placeholder="Title"/>
                            </div>
                        </div>
                        <div class="field">
                            <label>Annotation</label>
                            <div class="ui input">
                                <textarea type="text" name="description" placeholder="Annotation"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <input type="file" 
                                   id="book-file"
                                   class="filepond"
                                   name="filepond"
                                   accept="@string.Join(",", 
                                               appSettings.FileValidationSettings.BookFile.AllowedExtensionTypes
                                                   .Concat(appSettings.FileValidationSettings.BookFile.AllowedAttachmentTypes))" />

                        </div>
                    </div>
                    <div class="two wide column"></div>
                    <div class="six wide column">
                        <input type="file" 
                               id="book-cover"
                               class="filepond"
                               name="filepond"
                               accept="@string.Join(",", appSettings.FileValidationSettings.BookCoverImage.AllowedAttachmentTypes)"/>
                    </div>
                </div>
                <div class="ui error message"></div>
            </div>
        </div>
    </form>
</div>