.main {
    margin-top: calc(var(--header-height) + 20px) !important;
    margin-bottom: 20px !important;
}

#site-header {
    height: var(--header-height) !important;
}

#site-footer {
    height: var(--footer-height) !important;
}

body {
    background-color: #EEF3FB;
}

.actions-container .actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.m-top-15 {
    margin-top: 15px !important;
}

.m-zero {
    margin: 0 !important;
}

.full-height {
    height: 100% !important;
}