#site-footer {
    display: none;
}

#site-header {
    display: none;
}

body {
    background-color: white;
}

body > .grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
}