@using BookStorage.Services.BookService
@using BookStorage.Extensions
@using BookStorage.Models.ViewModels.BookViewModel
@using BookStorage.Services.UserService
@{
    ViewData["Title"] = "Home Page";

    IBookService bookService = Context.GetService<IBookService>();
    IUserService userService = Context.GetService<IUserService>();

    List<BookViewModel> books = await bookService.GetBookViewModelsAsync(await userService.GetUserIdAsync());
}

@section Scripts
{
    <script src="~/js/home.js" defer></script>
}

<div class="ui main container">
    <div id="home-app" class="">
        <div class="ui top attached segment">
            <a href="/book" class="ui black button">
                Create book
            </a>
        </div>
        <div class="ui bottom attached segment">
            <div class="ui grid">
                @foreach (BookViewModel book in books)
                {
                    <div class="four wide column">
                        <div class="ui top attached segment">
                            <img src="@book.CoverUrl" alt="" class="ui image" />
                        </div>
                        <div class="ui bottom attached segment">
                            <a href="/book/@book.BookId/view">@book.Title</a> - @book.AuthorName
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>