@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/home.js" defer></script>

<div id="home-app" class="text-center">
    <h1 class="display-4">{{message}}</h1>
    <input type="text" v-on:input="setMessage" />
</div>
