@using BookStorage.Extensions
@using BookStorage.Services.UserContextService

@{
    <script src="~/js/header.js"></script>
}

@{
    IUserContextService userContextService = Context.GetService<IUserContextService>();
}

<header id="site-header">    
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="/" class="header item">
                <i class="book icon"></i>
                BookSpot
            </a>
            <a href="" class="item">Library</a>
            <div class="ui simple dropdown item">
                Dropdown
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="" class="item">Link 1</a>
                    <a href="" class="item">Link 2</a>
                    <div class="divider"></div>
                    <div class="header">Header</div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        Sub menu
                        <div class="menu">
                            <a href="" class="item">Link 3</a>
                            <a href="" class="item">Link 4</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right menu">
                <div class="item">
                    <div class="ui transparent inverted icon input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="Search" />
                    </div>
                </div>
                @if (userContextService.IsUserAuthenticated())
                {
                    <div class="item">
                        <a class="ui avatar image" id="account-popup">
                            <img src="/images/avatar/small/joe.jpg">
                        </a>
                        <div class="ui popup">
                            <div class="ui fluid centered link divided relaxed list">
                                <div class="item">
                                    <i class="user secondary icon" style="visibility: visible;"></i>
                                    <div class="content">
                                        <a class="header">Account</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="sign out alternate secondary icon"></i>
                                    <div class="content">
                                        <a class="header"
                                           id="sign-out-btn"
                                           href="@Url.Action("Logout", "Account")">
                                            Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <a href="@Url.Action("SignInUp", "Account")"
                           class="ui inverted button">
                            Log in
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</header>